*.pyc
results/
build/
dist/
todo.txt
update.py
*.egg-info
*.idea
*.DS_Store
*.DSStore
to_update_instr.txt
examples/blank_example.py
*.csv
*.json
*.pdf
docs/sphinx/
examples/experiments_to_reproduce/*
models/*
scratch.py
scratch2.py
images/
histograms/
dfs.pickle
dfs_processed.pickle
*#
*.png
sandbox.py
cysignals_crash_logs/